* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
body {
  background-color: #f9f9ed; /* soft light background */
  color: #090302; /* dark text for readability */
  line-height: 1.6;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: 16px;
  padding: 20px;
}
header {
  text-align: center;
  padding: 20px 0;
  background-color: #20081f;
  color: #efe9e7;
  border-radius: 10px;
  margin-bottom: 30px;
}
header h1 {
  font-size: 3.5rem;
  margin-bottom: 1px;
}

header p {
  font-size: 1.15rem;
  font-weight: 400;
}
main {
  flex: 1;
  max-width: 500px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
}

section {
  background-color: #efe9e7;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
}

section h2 {
  color: #20081f;
  margin-bottom: 15px;
  font-size: 1.5rem;
}
section {
  background-color: #efe9e7; /* soft cream */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
}

section h2 {
  color: #20081f;
  margin-bottom: 15px;
  font-size: 1.5rem;
}
form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

form label {
  font-weight: 600;
  margin-bottom: 5px;
  color: #20081f;
}
form input[type="text"],
form input[type="date"],
form select {
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #d2d9ef;
  background-color: #f9f9ed;
  font-size: 1rem;
  outline: none;
  transition:
    border 0.3s,
    box-shadow 0.3s;
}
